@charset "UTF-8";
::selection {
  background-color: #FFB52F;
  color: #fff;
  -webkit-text-stroke-color: #fff; }

html {
  height: 100%; }

body {
  font-family: 'Lato', 'Noto Sans JP', sans-serif;
  background: #fefefe;
  padding: 0;
  color: #292c2f; }

p {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.7em;
  color: rgba(41, 44, 47, 0.9); }

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0; }

button {
  cursor: pointer; }

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  color: #000;
  font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif; }

h1,
.h1 {
  font-size: 50px;
  -webkit-text-stroke: 2px #000; }

h2,
.h2 {
  font-size: 30px;
  -webkit-text-stroke: 2px #000; }

h3,
.h3 {
  font-size: 28px; }

h4,
.h4 {
  font-size: 20px; }

h5,
.h5 {
  font-size: 12px; }

h6,
.h6 {
  font-size: 10px; }

.home_fill {
  height: -webkit-fill-available;
  overflow: hidden;
  position: relative; }
  .home_fill .container-fluid {
    height: -webkit-fill-available; }
  .home_fill .book {
    margin-top: 500px; }
  .home_fill .typewrite {
    height: -webkit-fill-available;
    text-align: center; }
    .home_fill .typewrite .line-1 {
      top: 0;
      transform: translateY(0);
      width: 100%; }
    .home_fill .typewrite h1 {
      letter-spacing: 2px;
      margin-top: 370px;
      font-size: 50px;
      margin-bottom: 40px; }
    .home_fill .typewrite h3 {
      font-size: 28px;
      margin-bottom: 40px; }
    .home_fill .typewrite p {
      line-height: 50px; }
  .home_fill .back_button {
    top: 65px;
    position: fixed;
    z-index: 3;
    width: 60px; }
    .home_fill .back_button a {
      display: block;
      border: none;
      padding: 0px;
      cursor: pointer;
      background: #fff;
      outline: none;
      border-radius: 30px;
      width: 45px;
      height: 45px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.05); }
      .home_fill .back_button a i {
        font-size: 32px;
        top: -2px;
        position: absolute; }
      .home_fill .back_button a:hover {
        background: #ddd; }
  .home_fill .carousel {
    height: -webkit-fill-available; }
    .home_fill .carousel .carousel-indicators {
      margin-bottom: 3rem; }
      .home_fill .carousel .carousel-indicators li {
        border: none;
        width: 12px;
        height: 12px;
        background-color: #000;
        border-radius: 10px;
        margin: 0 7px; }
        .home_fill .carousel .carousel-indicators li.active {
          width: 27px; }
    .home_fill .carousel .carousel-inner {
      height: -webkit-fill-available;
      overflow: inherit; }
      .home_fill .carousel .carousel-inner .carousel-item {
        height: -webkit-fill-available; }
        .home_fill .carousel .carousel-inner .carousel-item .row {
          height: -webkit-fill-available; }
        .home_fill .carousel .carousel-inner .carousel-item .carousel-img {
          padding-left: 0;
          position: relative; }
          .home_fill .carousel .carousel-inner .carousel-item .carousel-img img {
            width: 105%; }
          .home_fill .carousel .carousel-inner .carousel-item .carousel-img .img_left {
            width: 115%;
            margin-left: -170px;
            margin-bottom: 30px; }
        .home_fill .carousel .carousel-inner .carousel-item .carousel-text {
          position: relative;
          padding-left: 130px;
          padding-top: 90px; }
          .home_fill .carousel .carousel-inner .carousel-item .carousel-text h1 {
            line-height: 73px;
            letter-spacing: 4px;
            position: relative;
            padding-bottom: 20px;
            margin-bottom: 20px; }
            .home_fill .carousel .carousel-inner .carousel-item .carousel-text h1::after {
              content: "";
              display: block;
              background: #000;
              width: 70px;
              height: 12px;
              border-radius: 40px;
              position: absolute;
              left: 0;
              bottom: 0; }
          .home_fill .carousel .carousel-inner .carousel-item .carousel-text p {
            line-height: 35px;
            margin-bottom: 50px; }
            .home_fill .carousel .carousel-inner .carousel-item .carousel-text p span {
              font-weight: bold; }
          .home_fill .carousel .carousel-inner .carousel-item .carousel-text .sub_h1 {
            position: absolute;
            top: -20px;
            left: 0px;
            z-index: -5; }
            .home_fill .carousel .carousel-inner .carousel-item .carousel-text .sub_h1.right {
              left: 200px; }

.arrow_btn {
  display: inline-block;
  position: relative;
  width: 210px;
  font-size: 23px;
  font-weight: bold;
  padding: 0.3em;
  text-align: center;
  text-decoration: none;
  color: #000;
  background: #fff;
  border-radius: 30px;
  border: 2px solid #000;
  transition: all 0.5s ease; }
  .arrow_btn span {
    padding-left: 10px;
    display: inline-block;
    text-decoration: none;
    transition: transform ease .3s; }
  .arrow_btn:hover {
    cursor: pointer;
    text-decoration: none;
    background: #000;
    transition: all 0.5s ease;
    color: white; }
    .arrow_btn:hover span {
      cursor: pointer;
      text-decoration: none;
      transform: translateX(10px); }
  .arrow_btn.start {
    background: #000;
    color: #fff; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 190px;
  height: 100vh;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 40px 0 52px;
  z-index: 99;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05); }
  header .header_logo {
    line-height: 1;
    width: 96px; }
  header nav {
    width: 100%; }
    header nav ul li {
      position: relative; }
      header nav ul li a {
        font-size: 20px;
        width: 100%;
        height: 81px;
        font-weight: 700;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center; }
        header nav ul li a:hover {
          opacity: 0.5; }

main {
  margin-left: 190px;
  width: calc(100% - 190px);
  padding: 0 60px;
  padding-top: 50px; }

.title {
  margin-bottom: 30px; }
  .title h2 {
    letter-spacing: 5px; }
    .title h2 span {
      font-size: 17px;
      letter-spacing: 1px;
      -webkit-text-stroke: 0px;
      opacity: 0.5;
      margin-left: 30px;
      font-weight: 400; }

.creator_card,
.product_card {
  color: #fff;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 30px; }
  .creator_card img,
  .product_card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: 0 25%;
    border-radius: 10px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2); }
  .creator_card a,
  .product_card a {
    position: relative;
    display: block;
    border-radius: 10px; }
    .creator_card a .overlay,
    .product_card a .overlay {
      border-radius: 10px;
      position: absolute;
      background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
      width: 100%;
      height: 100%;
      top: 0; }
    .creator_card a h6,
    .product_card a h6 {
      border-radius: 30px;
      letter-spacing: 1px;
      border: 1px solid #fff;
      padding: 3px 20px;
      color: #fff;
      position: absolute;
      top: 20px;
      left: 20px;
      -webkit-text-stroke: 0px; }
    .creator_card a .text_area,
    .product_card a .text_area {
      position: absolute;
      bottom: 10px;
      left: 20px;
      color: #fff; }
      .creator_card a .text_area h4,
      .creator_card a .text_area h5,
      .product_card a .text_area h4,
      .product_card a .text_area h5 {
        color: #fff;
        margin-bottom: 5px; }
      .creator_card a .text_area h5,
      .product_card a .text_area h5 {
        font-weight: 100;
        opacity: 0.9;
        margin-bottom: 5px; }
      .creator_card a .text_area span,
      .product_card a .text_area span {
        opacity: 0.8;
        font-size: 12px;
        letter-spacing: 1px; }
        .creator_card a .text_area span i,
        .product_card a .text_area span i {
          font-size: 15px; }
    .creator_card a:hover,
    .product_card a:hover {
      box-shadow: 0 10px 45px rgba(0, 0, 0, 0.25); }

.product_card {
  color: #000;
  height: 150px; }
  .product_card a {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    background: #fff;
    height: 100%;
    border-radius: 10px; }
    .product_card a h6 {
      border: 1px solid #000;
      color: #000; }
    .product_card a .text_area {
      color: #000; }
      .product_card a .text_area h4,
      .product_card a .text_area h5 {
        color: #000; }

.color_palette {
  padding: 0 230px; }
  .color_palette .radio-tile-group {
    justify-content: center; }
    .color_palette .radio-tile-group .input-container {
      position: relative;
      height: 7rem;
      width: 100%;
      text-align: center; }
      .color_palette .radio-tile-group .input-container .radio-button {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        margin: 0;
        cursor: pointer; }
      .color_palette .radio-tile-group .input-container .radio-tile {
        margin: 0 auto;
        width: 70px;
        height: 70px;
        background: #000;
        border-radius: 70px;
        padding: 1rem;
        transition: transform 300ms ease; }
      .color_palette .radio-tile-group .input-container .radio-tile-label {
        text-align: center;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 1px;
        color: #000; }
      .color_palette .radio-tile-group .input-container .radio-button:checked + .radio-tile {
        background-color: #000;
        transform: scale(1.3, 1.3); }

.creator_show,
.product_show {
  height: -webkit-fill-available;
  padding: 0; }
  .creator_show .overlay,
  .product_show .overlay {
    position: absolute;
    background: linear-gradient(315deg, rgba(85, 85, 85, 0.6) 0%, rgba(17, 17, 17, 0.6) 100%);
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center; }
  .creator_show img,
  .product_show img {
    height: -webkit-fill-available;
    width: 100%;
    object-fit: cover; }
  .creator_show .text_area,
  .product_show .text_area {
    margin-top: 450px;
    color: #fff;
    text-align: center; }
    .creator_show .text_area h6,
    .product_show .text_area h6 {
      border-radius: 30px;
      letter-spacing: 1px;
      border: 1px solid #fff;
      padding: 3px 20px;
      display: inline-block;
      color: #fff;
      -webkit-text-stroke: 0px; }
    .creator_show .text_area h3,
    .creator_show .text_area h5,
    .product_show .text_area h3,
    .product_show .text_area h5 {
      color: #fff;
      margin-bottom: 10px; }
    .creator_show .text_area h5,
    .product_show .text_area h5 {
      font-weight: 100;
      font-size: 15px;
      opacity: 0.7; }
    .creator_show .text_area span,
    .product_show .text_area span {
      opacity: 0.8;
      font-size: 12px;
      letter-spacing: 1px; }
      .creator_show .text_area span i,
      .product_show .text_area span i {
        font-size: 15px; }

.product_show {
  color: #000;
  height: -webkit-fill-available;
  padding: 0; }
  .product_show .overlay {
    background: linear-gradient(315deg, #555555 0%, #111111 100%); }
  .product_show h6 {
    border: 1px solid #000;
    color: #000; }
  .product_show .text_area {
    color: #000; }
    .product_show .text_area h5 {
      color: #fff; }

.views {
  width: 100%;
  height: 80vh;
  text-align: center; }
  .views h6 {
    border-radius: 30px;
    letter-spacing: 1px;
    border: 1px solid #fff;
    padding: 3px 20px;
    color: #fff;
    display: inline-block;
    -webkit-text-stroke: 0px;
    margin-top: 350px; }
  .views .text_area {
    color: #fff; }
    .views .text_area h4,
    .views .text_area h5 {
      color: #fff;
      margin-bottom: 10px; }
    .views .text_area h4 {
      font-size: 32px; }
    .views .text_area h5 {
      letter-spacing: 1px;
      font-weight: 100;
      opacity: 0.7; }
  .views + .views_sticky {
    position: sticky;
    display: flex;
    top: 0; }
    .views + .views_sticky header {
      position: sticky; }
    .views + .views_sticky main {
      position: sticky;
      top: 0;
      margin-left: 0; }

/*# sourceMappingURL=style2.css.map */
